.home{


    padding: 10px 20px;
    
    margin-right: 80rem;
    color: aliceblue;
    border: none;
    font-size: 1rem;
    margin-top: 1rem;
    
    
    background-color: rgb(241, 18, 18);
    
}