table, table td, table th {

    border: 1px solid black;
    margin: 0 auto;
    padding: 3px 10px;
}


form input{

    margin-top: 1rem;
    width: 11rem;
}

.btn{

    margin-left: 80rem;
    margin-top: 2rem;
    padding: 0.5rem 1rem;
    background-color: rgb(3, 3, 143);
    font-weight: bold;
    color: white;

}
